{% extends "layouts/layout.html" %}
{% block content %}
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-image: url({{url_for('static',filename='assets/img/theme/profile-cover.jpg')}}); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h1 class="display-1 text-white">Covid Bot</h1>
            <p class="text-white mt-0 mb-9">Talk to our Chat Assistant.</p>
               </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6 ">
      <div class="row">

        <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Chat With Us</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <head>
                <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/style.css')}}">
                <script src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
              </head>
              <body>
             <div class="nchiza">
                  <div id="chatbox">
                    <p class="botText"><span>Hie! I'm The Covid Chat Assistant.</span></p>
                  </div>
                  <div class="input-group mb-3" id="userInput">
                    <div class="input-group-prepend">  
                      <input id="buttonInput" class="btn btn-outline-primary" type="submit" value="Send">     
                    </div>
                    <input class="form-control" id="textInput" type="text" name="msg" placeholder="Message">
                  </div>
                </div>
                  <script>
                    function getBotResponse() {
                      var rawText = $("#textInput").val();
                      var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
                      $("#textInput").val("");
                      $("#chatbox").append(userHtml);
                      document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                      $.get("/get", { msg: rawText }).done(function(data) {
                        var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                        $("#chatbox").append(botHtml);
                        document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                      });
                    }
                    $("#textInput").keypress(function(e) {
                        if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                            getBotResponse();
                        }
                    });
                    $("#buttonInput").click(function() {
                        if (document.getElementById("textInput").value != "") {
                            getBotResponse();
                        }
                    })
                  </script>
                </div>
            
            </div>
          </div>
        </div>
      </div>
      {% endblock %}