{% extends "layouts/layout.html" %}
{% block content %}
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0"></h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
               
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            
      <!-- Dark table -->
      <div class="row">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0"> &nbsp; &nbsp; Health Services</h3>
              <div class="col-4 ">
                <a href="{{url_for('add')}}" class="btn btn-sm btn-primary">Add New Health Institute</a>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Institute Name</th>
                    <th scope="col" class="sort" data-sort="budget">Province </th>
                    <th scope="col" class="sort" data-sort="budget">City</th>
                    <th scope="col" class="sort" data-sort="status">Address</th>
                    <th scope="col" class="sort" data-sort="completion">Number</th>
                    
                  </tr>
                </thead>
                <tbody class="list">
                  {% for x in data %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="name mb-0 text-sm"> {{x.name}}</span>
                        </div>
                      </div>
                    </th>
                    <td class="budget">
                      {{x.province}}
                    </td>
                    <td class="budget">
                      {{x.city}}
                    </td>
                    <td>
                        <span class="status">{{x.address}}</span>
                      </span>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{x.contact}}</span>
                        <div>
                                                 </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


        
      {% endblock %}
